.env
.phpunit.result.cache
/.idea
/.vagrant
/.vscode
/node_modules
/public/fonts/vendor
/public/hot
/public/images/vendor
/public/mix-manifest.json
/public/storage
/resources/js/vue-i18n-locales.generated.js
/storage/*.key
/vendor
Homestead.yaml
Homestead.json
yarn-error.log
npm-debug.log
